[submodule "submodules/CuteControllers"]
	path = submodules/CuteControllers
	url = git@github.com:tylermenezes/CuteControllers.git
[submodule "submodules/TinyDb"]
	path = submodules/TinyDb
	url = git@github.com:tylermenezes/TinyDb.git
[submodule "submodules/Twig"]
	path = submodules/Twig
	url = git@github.com:fabpot/Twig.git
[submodule "submodules/ThinTasks"]
	path = submodules/ThinTasks
	url = git@github.com:tylermenezes/ThinTasks.git
[submodule "submodules/AutoAB"]
	path = submodules/AutoAB
	url = git@github.com:tylermenezes/AutoAB.git
